server.port=(your port)


# Data source
spring.datasource.url=(your database URL)
spring.datasource.username=(your database username)
spring.datasource.password=(your database password)
spring.datasource.driver-class-name=(your database driver class name)

# JPA/Hibernate
spring.jpa.properties.hibernate.dialect=(org.hibernate.dialect.YourDialect)
spring.jpa.properties.hibernate.format_sql=(true or false) - optional for pretty printing
spring.jpa.properties.hibernate.use_sql_comments=(true or false) - optional for SQL comments
spring.jpa.properties.hibernate.generate_statistics=(true or false) - optional for statistics